<section class="login-section">
    <form #signInForm="ngForm" (submit)="onSignIn(signInForm)" class="signin-form">
        <mat-form-field class="form-fields">
            <mat-label>UserName</mat-label>
            <input matInput type="email" placeholder="UserName" value="Sushi" required ngModel name="userName">
        </mat-form-field>
        <mat-form-field class="form-fields">
            <mat-label>Password</mat-label>
            <input type="password" matInput placeholder="Password" value="Sushi" required ngModel name="password">
        </mat-form-field>
        <button type="submit" mat-fab extended color="primary" class="sign-in">
        Sign In
        <span class="material-symbols-outlined"> login</span>
        </button>
    </form>
</section>
